services:
  frontend: 
    image: dataloplatforms/csge-frontend:1.0.0
    ports:
      - "3000:3000"
    env_file:
      - .env.frontend
    depends_on:
      - backend
    networks:
      - csge-network
  
  backend:
    image: dataloplatforms/csge-backend-minio:1.0.9
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_BUCKET=facturas
      - MINIO_HOST=minio
    depends_on:
      - minio
    networks:
      - csge-network
      
  minio:
    image: minio/minio
    ports:
      - "9000:9000"  # API
      - "9001:9001"  # Console
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - minio_data:/data
    command: server --console-address ":9001" /data
    networks:
      - csge-network

  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5;
      /usr/bin/mc config host add myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/facturas;
      /usr/bin/mc policy set public myminio/facturas;
      exit 0;
      "

volumes:
  minio_data:

networks:
  csge-network:
    driver: bridge